@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 tracking-tight font-sans antialiased;
  }
}

.glass-panel {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}

/* Custom leaflet map fixes to prevent overlap */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 10 !important;
}
